body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(51, 51, 51, 0.8);
  background-color: #f6f0ed;
  font-family: "Raleway", Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
}

h2 {
  text-align: center;
}

.centered {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

nav {
  padding: 1em;
}

nav a {
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1em;
  color: rgba(51, 51, 51, 0.7);
  text-decoration: none;
  cursor: pointer;
  margin: 1em;
  padding: 0.2rem 0.5rem;
}
nav a:hover {
  color: #fff;
  background-color: rgba(51, 51, 51, 0.9);
  border-radius: 13px;
}

header a {
  color: rgba(51, 51, 51, 0.7);
  text-decoration: none;
  cursor: pointer;
}

.results {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 15px;
  background-color: #fafafa;
  padding: 1em;
  padding-top: 0;
}

li a,
.episodeInfo a,
.result a {
  color: rgba(51, 51, 51, 0.7);
  text-decoration: none;
  cursor: pointer;
  margin: 0.5em;
}

li a:hover {
  text-decoration: underline;
  color: rgba(51, 51, 51, 1);
}

.results h2 {
  margin: 0;
  font-size: 1em;
}

footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: smaller;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  background-color: #fafafa;
  opacity: 0.7;
}

footer:hover {
  opacity: 1;
}

.lastUpdate {
  font-size: smaller;
}

details {
  border-radius: 15px;
  background-color: #fafafa;
  margin-bottom: 0.2rem;
}

summary {
  border-radius: 15px;
  background-color: rgba(51, 51, 51, 1);
  color: #fafafa;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
}

details[open] summary {
  list-style-type: "\1f355 ";
}

.episodeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.episodeInfo a:hover {
  text-decoration: underline;
}

.episodeInfo > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.episodeInfo > div.date {
  font-size: 0.9rem;
}

ul {
  list-style-type: "\1f355";
}

li {
  padding: 0.4rem;
  font-size: 1.1rem;
}

details h2 {
  text-align: center;
  font-size: 2rem;
}

.spinner {
  margin-top: 5rem;
  border: 3px solid rgba(255, 122, 122, 1);
  border-top: 3px solid #f6f0ed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.5s linear infinite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

dialog {
  z-index: 10;
  margin-top: 10px;
  border: none;
  border-radius: 1rem;
}

dialog::backdrop {
  background-color: rgba(51, 51, 51, 0.25);
}

body:has(dialog[open]) {
  overflow: hidden;
}

button {
  border-radius: 15px;
  color: rgba(255, 122, 122, 0.9);
  background-color: #fafafa;
  border-color: rgba(255, 122, 122);
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  background-color: #d6d6d6;
  color: rgba(51, 51, 51, 0.8);
  border-color: rgba(255, 122, 122, 0.7);
}

button.small {
  padding: 0 0.5rem;
  font-size: 1rem;
}

input.search {
  height: 3rem;
  width: 60vw;
  margin: 0;
  padding: 0 2rem 0 3.2rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  color: rgba(51, 51, 51, 0.7);
  outline: 0;
  border-radius: 15px;
  border: 0.05rem solid rgba(51, 51, 51, 1);
  background-image: url(images/search.svg);
  background-size: 1.4rem;
  background-position: left 1.05rem top 0.8rem;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-color: #fff;
  transition: all 0.4s ease;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  input.search {
    width: 90vw;
    font-size: 1rem;
  }
}

input.search::placeholder {
  color: rgba(51, 51, 51, 0.6);
  opacity: 0.9;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 3rem;
}

.row > button {
  padding: 0.5rem 1rem;
  flex: 1;
}

.resultInfo {
  text-align: center;
}

.resultInfo > h2 {
  margin-top: 4rem;
}

/* Animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shake {
  animation: shake 2.8s ease infinite;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.scontrino {
  margin: 0 2rem;
  padding: 2rem;
  background-color: white;
}

/* Tinchi rip off */
/* Section: Flex */
/* Display Flex */
.f {
  display: flex;
}
/* flex 1 */
.f1 {
  flex: 1;
}
/* flex direction column */
.c {
  flex-direction: column;
}
/* flex direction row */
.r {
  flex-direction: row;
}
/* flex direction column, justify content center, align items center */
.cc {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* flex direction row, justify content center, align items center */
.rc {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* flex direction column, justify content flex-start, align items center */
.cs {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* flex direction row, justify content flex-start, align items center */
.rs {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* flex direction column, justify content flex-end, align items center */
.ce {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
/* flex direction row, justify content flex-end, align items center */
.re {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
/* align items center */
.aic {
  align-items: center;
}
/* justify content space-around */
.spa {
  justify-content: space-around;
}
/* justify content space-between */
.spb {
  justify-content: space-between;
}

/* A set of items for lists that wrap direction row */
.fiwr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
/* A set of items for lists that wrap direction column */
.fiwc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
/* gap 0.5rem */
.g_5 {
  gap: 0.5rem;
}
/* gap 1rem */
.g {
  gap: 1rem;
}
/* gap 2rem */
.g2 {
  gap: 2rem;
}

/* Section: Font Styles */
/* text-transform capitalize */
.tt-cpz {
  text-transform: capitalize;
}
/* text-align center */
.ta-c {
  text-align: center;
}
