body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 122, 122, 1);
    background-color: #F6F0ED;
}

nav {
    padding: 1em;
}

nav a {
    color: #D91E36;
    text-decoration: none;
    cursor: pointer;
    margin: 1em;
}

.results {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 15px;
    background-color: #fafafa;
    padding: 1em;
    padding-top: 0;
}

.result a {
    color: #D91E36;
    text-decoration: none;
    cursor: pointer;
    margin: .5em;
}

.results h2 {
    margin: 0;
    font-size: 1em;
}


footer {
    font-size: smaller;
    position: fixed;
    bottom: 0;
    padding: 2em;
}