---
import { getCollection } from "astro:content";
import Episode from "../components/Episode.astro";
import Layout from "../layouts/Layout.astro";

const episodes = await getCollection("episodes");
---

<Layout title={`ðŸ• Power Pizza Podcast - Episodi`}>
  <div class="results">
    {episodes.map((e) => <Episode episode={e} isAccordion />)}
  </div>
  <script lang="ts" is:inline>
    function info(dialogId) {
      const dialog = document.getElementById(dialogId);
      if (dialog) {
        dialog.showModal();
        dialog.addEventListener("click", (e) => {
          const dialogDimensions = dialog.getBoundingClientRect();
          if (
            e.clientX < dialogDimensions.left ||
            e.clientX > dialogDimensions.right ||
            e.clientY < dialogDimensions.top ||
            e.clientY > dialogDimensions.bottom
          ) {
            dialog.close();
          }
        });
        const dialogExit = document.getElementById(`close-${dialogId}`);
        if (dialogExit) {
          dialogExit.addEventListener("click", () => dialog.close());
        }
      }
    }
  </script>
</Layout>
