---
import { SearchLink } from "../components/react/SearchLink";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="centered">
    <SearchLink client:load />
  </div>
</Layout>
