h3 {
  text-align: center;
}

.i-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: transparent;
  border: transparent;
  cursor: pointer;
  transform: scale(0.8);
  color: var(--main-font-color, #000003);
  font-size: 20px;
  line-height: 1;
}

.i-btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.06);
}

.i-btn:hover,
.i-btn:active {
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
  background-color: var(--main-bg-faint-color);
}

button.danger:hover {
  background-color: var(--danger-faint-color);
}

.cmd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.4rem;
  flex-wrap: wrap;
}
.cmd > button {
  padding: 1.3rem;
  flex: 1;
}

input {
  background-color: var(--main-bg-faint-color);
  color: var(--main-font-color);
  font-size: 1.2rem;
}

ul {
  all: unset;
  list-style: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.shake {
  animation: shake 5s ease infinite;
  padding: 2rem;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(10px);
  }
}
