---
import Footer from "../components/shared/Footer.astro";
import Nav from "../components/shared/Nav.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>🍕 Power Pizza Podcast - Cerca Note</title>
  </head>
  <body>
    <slot name="head">
      <header>
        <a href="/">
          <h1>🍕 Power Pizza Podcast</h1>
        </a>
      </header>
    </slot>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
